#fondo{
    background-color: #0E1620;
    width: 1920px;
    height: 1080px;
}
#titulo{
    color: #FFFFFF;
    text-align: center;
    font-size: xxx-large;
}
#borde{
    position: absolute;
    width: 1600px;
    height: 1100px;
    border-color: #2CA5DB;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    top: 100px;
    left: 240px;
}
#inputPost{
    position: absolute;
    top:20px;
    width: 1490px;
    height: 150px;
    left: 55px;
    border-radius: 10px;
}
#info{


}
#infoColor{
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
    left: 600px;
    top:200px;
    background-color: #2CA5DB;
}
#botonPublicar{
    position: absolute;
    width: 380px;
    height: 41px;
    left: 600px;
    top: 900px;
    text-align: center;
    font-size: x-large;
    color:#FFFFFF;
    border-color: #2CA5DB;
    background-color: #2CA5DB;
    border-radius: 10px;
}